<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}"
        th:with="activeMenuItem='teams'">
<head>
    <title>Teams</title>
</head>
<body>
<div layout:fragment="page-content">
    <div th:replace="fragments/titles :: title-with-button(#{teams.title}, 'user-add', #{teams.add}, @{/teams/create}, 'add-team-button')"
         sec:authorize="hasRole('ADMIN')"></div>

    <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
        <div class="py-4">
            <div class="flex flex-col">
                <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
                    <div class="align-middle inline-block min-w-full shadow overflow-hidden rounded-md sm:rounded-lg border-b border-gray-200">
                        <table id="teams-table" class="min-w-full">
                            <thead>
                            <tr>
                                <th th:replace="fragments/table :: header(#{team.name})"></th>
                                <th th:replace="fragments/table :: header(title=#{team.coach},hideOnMobile=true)"></th>
                                <th:block sec:authorize="hasRole('ADMIN')">
                                    <th th:replace="fragments/table :: header('')"></th>
                                    <th th:replace="fragments/table :: header('')"></th>
                                </th:block>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="bg-white" th:each="team : ${teams}">
                                <td th:replace="fragments/table :: data(contents=${team.name},primary=true)"></td>
                                <td th:replace="fragments/table :: data(contents=${team.coachName.fullName},hideOnMobile=true)"></td>
                                <th:block sec:authorize="hasRole('ADMIN')">
                                    <td th:replace="fragments/table :: dataWithLink('Edit', @{'/teams/'+ ${team.id.asString()}})"></td>
                                    <td th:x-data="|{name: '${team.name}', deleteUrl: '/teams/${team.id.asString()}/delete'}|"
                                        class="px-6 py-4 whitespace-no-wrap text-right text-sm leading-5 font-medium">
                                        <a href="javascript:void(0)"
                                           th:id="|delete-link-${team.id.asString()}|"
                                           class="text-green-600 hover:text-green-900"
                                           @click="$dispatch('open-delete-modal', {name, deleteUrl})">Delete</a>
                                    </td>
                                </th:block>
                            </tr>
                            </tbody>
                        </table>
                        <th:block th:if="${teams.content.size() > 0}">
                            <div th:replace="fragments/pagination :: controls(page=${teams})"></div>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
